* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	max-width: 95%;
	margin: 0 auto;
	width: 100rem;
}

h1, h2, h3 {
	font-family: 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif;
}

code {
	background-color: hsl(0deg 0% 94%);
	display: inline-block;
	font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
	font-size: 0.85em;
	padding: 2px;
}

ul {
	padding-left: 2.5rem;
}

p, li {
	max-width: 70ch;
}

.details {
	width: 52ch;
}

.details[open] > .summary {
	margin-bottom: 0.4rem;
}

.summary {
	border: 2px solid hsl(0deg 0% 40%);
	border-radius: 4px;
	cursor: pointer;
	padding: 0.4rem 0.8rem;
}

.summary:focus-visible {
	outline: 3px solid #0047ab;
	outline-offset: 2px;
}


.details-content {
	font-size: 1.4rem;
	line-height: 1.25;
	padding-left: 2rem;
}

.report:not(:empty) {
	margin-top: 4rem;
	max-width: 68ch;
}

.report-heading {
	font-size: 1.3em;
}

.report-heading,
.report > p {
	margin: 0;
}

.report-heading + p {
	margin-top: 1rem;
}

.report > p + p {
	margin-top: 0.5rem;
}
